Traffic Light Flow
[
    {
        "id": "5f69d811e97219fe",
        "type": "gate",
        "z": "d4ea790853b8841d",
        "name": "",
        "controlTopic": "control",
        "defaultState": "open",
        "openCmd": "open",
        "closeCmd": "close",
        "toggleCmd": "toggle",
        "defaultCmd": "default",
        "statusCmd": "status",
        "persist": false,
        "storeName": "memory",
        "x": 1530,
        "y": 960,
        "wires": [
            [
                "f5c2b0db8246060d"
            ]
        ]
    },
    {
        "id": "f753f3557739024f",
        "type": "inject",
        "z": "d4ea790853b8841d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 780,
        "y": 1100,
        "wires": [
            [
                "2fd1e4f814ae29c4",
                "abf72e60c8830db1",
                "0e8709fb42dd320c",
                "3f7fdd407e234ec5"
            ]
        ]
    },
    {
        "id": "c1f2c5c7dc7adc95",
        "type": "gate",
        "z": "d4ea790853b8841d",
        "name": "",
        "controlTopic": "control",
        "defaultState": "open",
        "openCmd": "open",
        "closeCmd": "close",
        "toggleCmd": "toggle",
        "defaultCmd": "default",
        "statusCmd": "status",
        "persist": false,
        "storeName": "memory",
        "x": 1530,
        "y": 1020,
        "wires": [
            [
                "f5c2b0db8246060d"
            ]
        ]
    },
    {
        "id": "f5c2b0db8246060d",
        "type": "node-hue-in",
        "z": "d4ea790853b8841d",
        "server": "166eeb02cb85b296",
        "lightID": "light1",
        "name": "",
        "x": 1810,
        "y": 1020,
        "wires": []
    },
    {
        "id": "2fd1e4f814ae29c4",
        "type": "function",
        "z": "d4ea790853b8841d",
        "name": "red",
        "func": "msg.payload = { \"on\": true, \"bri\": 100, \"hue\": 0 }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 900,
        "wires": [
            [
                "c9817f294d351f24"
            ]
        ]
    },
    {
        "id": "abf72e60c8830db1",
        "type": "function",
        "z": "d4ea790853b8841d",
        "name": "yellow",
        "func": "msg.payload = { \"on\": true, \"bri\": 100, \"hue\": 50 }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 940,
        "wires": [
            [
                "d545c7bf2db9973f"
            ]
        ]
    },
    {
        "id": "0e8709fb42dd320c",
        "type": "function",
        "z": "d4ea790853b8841d",
        "name": "green",
        "func": "msg.payload = { \"on\": true, \"bri\": 100, \"hue\": 100 }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 980,
        "wires": [
            [
                "e2d546e6d6735d85"
            ]
        ]
    },
    {
        "id": "20f5d014e23b86d7",
        "type": "gate",
        "z": "d4ea790853b8841d",
        "name": "",
        "controlTopic": "control",
        "defaultState": "open",
        "openCmd": "open",
        "closeCmd": "close",
        "toggleCmd": "toggle",
        "defaultCmd": "default",
        "statusCmd": "status",
        "persist": false,
        "storeName": "memory",
        "x": 1530,
        "y": 1080,
        "wires": [
            [
                "f5c2b0db8246060d"
            ]
        ]
    },
    {
        "id": "a7f6514b1bda23c6",
        "type": "function",
        "z": "d4ea790853b8841d",
        "name": "red range",
        "func": "let payload = msg.payload;\nlet field = \"\"\nif ((payload > 300 && payload < 359)) {\n    field = (\"open\")\n}\n\nelse {\n    field = (\"close\") \n}\nmsg.payload = field\nmsg.topic = \"control\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1220,
        "y": 1080,
        "wires": [
            [
                "5f69d811e97219fe"
            ]
        ]
    },
    {
        "id": "28ebf230a874d3a9",
        "type": "function",
        "z": "d4ea790853b8841d",
        "name": "yellow range",
        "func": "let payload = msg.payload;\nlet field = \"\"\nif ((payload >200 && payload < 299)) {\n    field = (\"open\")\n}\n\nelse {\n    field = (\"close\") \n}\nmsg.payload = field\nmsg.topic = \"control\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1230,
        "y": 1120,
        "wires": [
            [
                "c1f2c5c7dc7adc95"
            ]
        ]
    },
    {
        "id": "3f7fdd407e234ec5",
        "type": "random",
        "z": "d4ea790853b8841d",
        "name": "",
        "low": 1,
        "high": "359",
        "inte": "true",
        "property": "payload",
        "x": 960,
        "y": 1200,
        "wires": [
            [
                "28ebf230a874d3a9",
                "15e6915f25343736",
                "f1859cb71f463f6b",
                "a7f6514b1bda23c6"
            ]
        ]
    },
    {
        "id": "f1859cb71f463f6b",
        "type": "function",
        "z": "d4ea790853b8841d",
        "name": "green range",
        "func": "let payload = msg.payload;\nlet field = \"\"\nif (payload >0 && payload < 199) {\n    field = (\"open\")\n}\n\nelse {\n    field = (\"close\") \n}\nmsg.payload = field\nmsg.topic = \"control\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1230,
        "y": 1160,
        "wires": [
            [
                "20f5d014e23b86d7"
            ]
        ]
    },
    {
        "id": "15e6915f25343736",
        "type": "debug",
        "z": "d4ea790853b8841d",
        "name": "debug 139",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1230,
        "y": 1220,
        "wires": []
    },
    {
        "id": "c9817f294d351f24",
        "type": "delay",
        "z": "d4ea790853b8841d",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1240,
        "y": 900,
        "wires": [
            [
                "5f69d811e97219fe"
            ]
        ]
    },
    {
        "id": "d545c7bf2db9973f",
        "type": "delay",
        "z": "d4ea790853b8841d",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1240,
        "y": 940,
        "wires": [
            [
                "c1f2c5c7dc7adc95"
            ]
        ]
    },
    {
        "id": "e2d546e6d6735d85",
        "type": "delay",
        "z": "d4ea790853b8841d",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1240,
        "y": 980,
        "wires": [
            [
                "20f5d014e23b86d7"
            ]
        ]
    },
    {
        "id": "933c385df3599d2f",
        "type": "comment",
        "z": "d4ea790853b8841d",
        "name": "Colour selections",
        "info": "",
        "x": 1060,
        "y": 860,
        "wires": []
    },
    {
        "id": "ef0951ed0845d4a3",
        "type": "comment",
        "z": "d4ea790853b8841d",
        "name": "3 way gate",
        "info": "",
        "x": 1540,
        "y": 920,
        "wires": []
    },
    {
        "id": "b2b4d45d5a6b0198",
        "type": "comment",
        "z": "d4ea790853b8841d",
        "name": "Random number into groups",
        "info": "",
        "x": 1280,
        "y": 1040,
        "wires": []
    },
    {
        "id": "f38ee5c53a5c8a35",
        "type": "comment",
        "z": "d4ea790853b8841d",
        "name": "Insert point of data here",
        "info": "",
        "x": 1000,
        "y": 1160,
        "wires": []
    },
    {
        "id": "671a1abd81aefdc0",
        "type": "comment",
        "z": "d4ea790853b8841d",
        "name": "Delay ensures signal arrives after gate selection",
        "info": "",
        "x": 1360,
        "y": 860,
        "wires": []
    },
    {
        "id": "166eeb02cb85b296",
        "type": "node-hue-bridge",
        "name": "Hue Bridge",
        "address": "172.16.1.60",
        "key": "sizzq6Q5yd-R6Vtuyri7MC5vY81hASb7pZ-ZRRnw",
        "interval": "10000"
    }
]
